<aside class="sidebar">
    <div class="perfil-usuario">
        <div class="foto-usuario-wrapper">
            <div class="foto-placeholder"></div>
        </div>
        <h2 id="nome-usuario">Carregando...</h2>
        <span>Jogos registrados: 0</span>
    </div>

    <nav class="menu-navegacao">
        <a href="../home/index.html" class="item-menu" id="menu-home">
            <i class="fa-solid fa-folder-open"></i> Minha coleção
        </a>
        <a href="../games/index.html" class="item-menu" id="menu-games">
            <i class="fa-solid fa-circle-plus"></i> Adicionar jogos
        </a>
    </nav>

    <div class="sidebar-rodape">
        <a href="../login/index.html" class="btn-sair">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
        </a>
    </div>
</aside>